/*ESTILOS GENERALES*/
:root {
  --color-background-card: #ED088C;
  --color-background-gradient: #eee;
  --color-background-ofert: #ed088ea4;
  --color-text-card: #E9E9E9;
  --color-text-black: #555;
}
