.carousel__btn_category {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
}

.carousel__btn_option {
  box-shadow: 0px -2px 3px 0px rgba(237, 8, 140, 0.75);
  -webkit-box-shadow: 0px -2px 3px 0px rgba(237, 8, 140, 0.75);
  -moz-box-shadow: 0px -2px 3px 0px rgba(237, 8, 140, 0.75);
  color: var(--color-text-button);
  margin-top: 10px;
  height: 30px;
  border: none;
  width: 95%;
}

.carousel__btn_position {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.carousel__content {
  background-color: var(--color-background-gradient);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
}

.carousel__li {
  border: 2px dotted var(--color-background-card);
  margin-top: 12px;
  width: 250px;
}

.carousel__btn_cont {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  color: var(--color-background-card);
  background-color: transparent;
  height: 4em;
}

.carousel__arrows {
  display: flex;
}

.carousel__arrows .svg-inline--fa {
  border-radius: 20px;
}

.carousel__btn {
  margin: 7px;
  font-size: 30px;
  color: var(--color-background-card);
  border: none;
}

@media(min-width: 500px) {
  .carousel__content {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .carousel__li {
    margin: 12px;
  }

  .carousel__ul {
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    display: flex;
  }

  .carousel__btn_position {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  @media(min-width: 765px) {
    .carousel__btn_category {
      flex-direction: row;
    }

    .carousel__btn_option {
      margin: 12px;
    }
  }
}
